.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 22px;
	box-shadow: 0px 3px 6px -4px rgba(0,0,0,0.5);

	input {
		border: 0;
		outline: 0;
		opacity: 0;
		width: 0;
		height: 0;

		&:checked + .slider {
			background-color: rgb(30, 30, 255);
			background-size: 300% 100%;

			&:before {
				content: '';
				transform: translateX(28px);
			}
		}

		&:focus + .slider {
			box-shadow: 0 0 1px rgba(30, 30, 255, .5);
		}

	}
}

.slider {
	position: absolute;
	cursor: pointer;
	border-radius: 10px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #d1d1d1;
	background-size: 100% 100%;
	transition: .15s;


	&:before {
		position: absolute;
		content: '';
		height: 15px;
		width: 15px;
		left: 3px;
		bottom: 3px;
		background-color: #fafafa;
		transition: .15s;
		border-radius: 6px;
	}

}